PORT=5000
MONGO_URI=mongodb://chatapp:chatapp123@ac-drpkqrj-shard-00-00.vyj4lgo.mongodb.net:27017,ac-drpkqrj-shard-00-01.vyj4lgo.mongodb.net:27017,ac-drpkqrj-shard-00-02.vyj4lgo.mongodb.net:27017/chat_app?ssl=true&replicaSet=atlas-njq079-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=super-secret
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=uploads
